{% extends "math.html" %}
{% block content %}
<h1>Persegi</h1>

<img src="{{url_for('static', filename='image/square.svg')}}" style="height: 215px; width: 150px;"/>

</br>
<!--section one-->
<h3>Keliling</h3>
<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
          <var>s &#215 4</var>
        </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          
            <!--form-->
            <form action="/send" method="POST">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Example label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder" name="sisi" id="sisi">
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit" name="key" value="keliling">Check</button>
                </div>
            </form>

        </div>
    </div>
</div>

</br>

<!--section two-->
<h3>Luas</h3>
<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          <var>s &#215 s</var>
        </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">

            <!--form-->
            <form action="/send" method="POST">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Example label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder" name="sisib">
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit" name="key" value="luas">Check</button>
                </div>
            </form>
        
        </div>
    </div>
</div>
    
</br>

<!--section three-->
<h3>Panjang sisi berdasarkan luas</h3>
<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          <var>s = `sqrt L`</var>
        </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
            
            <!--form-->
            <form action="/send" method="POST">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Example label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder" name="luas">
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit" name="key" value="diagonal">Check</button>
                </div>
            </form>

        </div>
    </div>
</div>

</br>

<!--section four-->
<h3>Panjang sisi berdasarkan keliling</h3>
<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
          <var>Keliling `-:` 4</var>
        </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
        <div class="accordion-body">
            
            <!--form-->
            <form action="/send" method="POST">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Example label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder" name="keliling">
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit" name="key" value="diagonal">Check</button>
                </div>
            </form>

        </div>
    </div>
</div>

</br>
</br>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="float: right; margin-bottom: 200px;">See Answer</button>
  
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>{{ total }}</h3>
        </div>
      </div>
    </div>
</div>
{% endblock %}